.balcao {
    margin-left: 4rem;
}

.endereco {
    position: absolute;
    top: 15%;
    left: 50%;
}

.botaoEntrar {
    text-decoration: none;
}

.margemEsquerda {
    margin-left: 2.5rem;
}

.w-20 {
    width: 20% !important;
}