.card {
    width: 30rem;
    text-align: center;
    background-color: black !important;
    color: white !important;
    box-shadow: 10px 5px 5px black;
}

.container-card {
    margin: 200px 0px; font-size: 20px;
}