.carousel-item img {
    opacity: 0.4;
}

.carousel-caption a {
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    #slider .carousel-caption {
        bottom: 2em;
    }
}

.carousel-control-prev i, .carousel-control-next i  {
    color: white !important;
}


#slider {
    overflow: hidden;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 7em;
}

.carousel-caption h2 {
    font-size: 3em;
    text-shadow: #000 2px 2px;
}

.carousel-caption p {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i, .carousel-control-next i {
    color: #111;
    font-size: 3em;
}